<div style="text-align: center; margin-top: 50px">

<h1> <%=@result[:translation]%></h1>
<h1> <%=@result[:score]%> </h1>
<h1> <%= @result[:message] %></h1>

<%= link_to "try again", grid_path %>

</div>
